<div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item bg-active"><span class="text-light font-weight-bold">Modules</span></li>
      <li [ngClass]="{'sel-li': module.id == moduleId}" *ngFor="let module of modules"
          class="list-group-item">
        <a class="sel-li" routerLink="/course/{{courseId}}/module/{{module.id}}">
          {{module.title}}</a>
      </li>
    </ul>
  </div>
  <div class="col-8">
    <app-lesson-tabs></app-lesson-tabs>
  </div>
</div>
