<header class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-light" href="home"><i class="fab fa-wikipedia-w"></i><strong>hiteboard</strong></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link" routerLink="/home"><span
        class="font-weight-bold">Home</span></a>
    </li>
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link" (click)="logout()"><span class="font-weight-bold">Logout</span></a>
    </li>
  </ul>
</header>
<div class="container-fluid">
  <h1>Sections for course: {{courseId}}</h1>
  <div class="container" [hidden]="!isAdmin">
    <input [(ngModel)]="sectionName"
           placeholder="Section Name"
           class="form-control">
    <input [(ngModel)]="seats"
           placeholder="Seats available"
           class="form-control">
    <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
      Add Section
    </button>
  </div>

  <div class="container mt-4">
    <ul class="list-group">
      <li *ngFor="let section of sections" class="list-group-item">
        {{section.name}} {{section.seats}}
        <button [hidden]="isAdmin" (click)="enroll(section)"
                class="float-right btn btn-primary">Enroll
        </button>
      </li>
    </ul>
  </div>

</div>
