<div class="container mt-4">
  <div class="row">
    <div class="card-columns">
      <div *ngFor="let course of courses">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/course/{{course.id}}"
               class="btn btn-dark mr-2 my-auto">Go somewhere <i class="fa fa-caret-right"></i></a>
            <a routerLink="/course/{{course.id}}/section"
               class="btn btn-dark my-auto">Enroll</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
